%p= link_to('Github', '/auth/github')

- form_for :headline, '/headlines/new' do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :url
    = f.text_field :url
  %p
    = f.submit "Create", :class => 'button'

- @headlines.each do |headline|
  %p= headline.title
  %p= headline.title_translations
  %p= link_to 'kuwasii', url_for(:headlines, :show, :id => headline.id)

