#translations
  - @headlines_with_best_translation.each do |headline, translation|
    .translation
      .title
        %span.translated_title= link_to html_escape(translation.title), html_escape(headline.url), :target => '_blank'
        %span.translator by #{html_escape(translation.translator.name)}
      .tr_info
        .tr_info_left
          %span.original_title= html_escape(headline.title)
        .tr_info_right
          - unless translation.summary.blank?
            %span.summary_summary= html_escape(translation.summary[0..40]) + '...'
            %span.summary_info 要約を全て表示
      .tr_summary
        - unless translation.summary.blank?
          %p.summary= html_escape(translation.summary)
%p= paginate @headlines
=javascript_include_tag 'jquery.js', 'application.js'
