#form
  - form_for :headline, '/headlines/create', :id => "new_form", :format => :ja do |f|
    %p= error_messages_for(:headline, :translation)
    - if params["from_profile"]
      = hidden_field_tag "from_profile", :value => true
    %table
      %tr
        %td.label= f.label :title, :caption => "タイトル"
        %td.content= f.text_area :title, :value => @title
      %tr
        %td.label= f.label :url, :caption => "URL"
        %td.content= f.text_field :url, :value => @url
      %tr
        %td.label= label_tag :translation, :caption => "タイトルの翻訳"
        %td.content= text_area_tag 'translation[title]', :id => "translation"
      %tr
        %td.label= label_tag :summary, :caption => "要約やメモ"
        %td.content= text_area_tag 'translation[summary]', :id => "summary"
    %p= f.submit "要約の投稿", :class => 'button'
- if params["from_profile"]
  %h3 ブックマークレットを使うと投稿がもう少し楽になります。
  %div#bookmarklet
    %h4 ブックマークレットを使った要約の投稿手順
    %p 1. 下の「要約を投稿」をブックマークバーにドラッグしてリンクボタンを作成
    %p#bookmarklet_link= link_to "要約を登録", url('javascript:(function(){var url = location.href; var redirect_url = "'+ request.url.sub(/#{request.path}.*$/, '') +'/headlines/new?url=" + encodeURIComponent(url) + "&title=" + encodeURIComponent(document.title);window.open(redirect_url, "_blank"); })();')
    %p 2. 要約を投稿したいページでリンクボタンを押すと投稿ページに移動します。
    %p 3. タイトルやURLが既に記入されいるので、要約に専念できます！
=javascript_include_tag 'jquery.js'
=javascript_include_tag 'jquery.autosize-min.js'
=javascript_include_tag 'application.js'
