- form_for :title_translation, '/translations/new' do |f|
  = f.hidden_field :headline_id, :value => @headline.id
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.submit "Create", :class => 'button'

- @translations.each do |translation|
  %p= translation.title
  %p= translation.translator.name
  %p ------
