#profile_header
  %table#profile
    %tr
      %td#profile_name #{@translator.name}さんの要約
      %td#translation_num
        #translation_num_box
          %p#title 要約数
          %p#num= @translator.translations.count
      %td#post= button_tag "要約を追加", :onClick => "location.href='headlines/new?from_profile=true'"
#translations
  - @headline_translation_pairs.each do |headline, translation|
    .translation
      .title
        %span.translated_title= link_to html_escape(translation.title), html_escape(headline.url), :target => '_blank'
        %span.rewrite= link_to "編集", url_for(:translations, :edit, :id => translation.id)
      .tr_info
        .tr_info_left
          %span.original_title= html_escape(headline.title)
        .tr_info_right
          - unless translation.summary.blank?
            %span.summary_info 要約を表示
      .tr_summary
        - unless translation.summary.blank?
          %p.summary= html_escape(translation.summary)
#withdraw 鯛虎を退会する
=javascript_include_tag 'jquery.js', 'application.js'
:javascript
  $(document).ready(function(){
    $('div#withdraw').click(function(){
    if(window.confirm("鯛虎を退会しますか？")){ location.href = "#{url_for(:profile, :withdraw)}"; }
    });
  });
