!!!XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    =stylesheet_link_tag 'top'
    %title 鯛虎 | Web Title Translation
  %body
    #main
      #header
        #title
          #left
            %span#title= link_to '鯛虎', url_for(:headlines, :index)
            %span Web Title Translation
          #right
            - if logged_in?
              %span= link_to 'マイページ', url(:profile)
              %span= link_to 'ログアウト', url(:logout), :id => 'logout'
            - else
              %span= link_to 'ログイン', url(:login)
        - unless logged_in?
          #info
            %h1 海外WEB記事の要約を共有しよう！
            %p 海外の最新情報を日本語で共有しましょう。ログインすると記事タイトルの翻訳を投稿することもできます。
      #content= yield
  #jewel12
    %p Created by #{link_to('@jewel_x12', "https://twitter.com/jewel_x12")}
